<!doctype html>
<html ng-app="madLibs">
<head>
	<title>Lab 15</title>
</head>
<body>
	<div id= "input">
		<form>
		<input type="text" ng-model= "noun" class= "button"/>
	</br>
		<input type="text" ng-model="nouns" class= "button"/>
	</br>
		<input type="text" ng-model="verb" class= "button"/>
	</br>
		<input type="text" ng-model="verbs" class= "button"/>
	</br>
		<input type= "text" ng-model="adjective"class= "button"/>
	</br>
		<input type="text" ng-model= "adjectives" class= "button"/>
	</br>
		<input type="text" ng-model= "verbe" class= "button"/>
	</br>


	</form>
</div>



</body>
</html>
